<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magestore_Staff::staff" title="Staff Manager" module="Magestore_Staff" sortOrder="10" action="staff" resource="Magestore_Staff::staff"/>
        <add id="Magestore_Staff::staff_list" title="List All Staff" module="Magestore_Staff" sortOrder="1" action="staff/index" resource="Magestore_Staff::staff" parent="Magestore_Staff::staff"/>
        <add id="Magestore_Staff::staff_save" title="Add New Staff" module="Magestore_Staff" sortOrder="2" action="staff/index/add" resource="Magestore_Staff::staff_save" parent="Magestore_Staff::staff"/>
    </menu>
</config>
